<div @ref="_host" hidden aria-hidden="true"></div>
<style id="ary-theme-style">@GlobalCss</style>

<CascadingValue Name="EffectiveThemeType" Value="@_effectiveType">
    @ChildContent
</CascadingValue>
