<div @ref="_host" hidden aria-hidden="true"></div>
<style id="ary-theme-style">@_css</style>

<CascadingValue Name="Theme" Value="@_theme">
    <CascadingValue Name="ThemeType" Value="@_effectiveType">
        @ChildContent
    </CascadingValue>
</CascadingValue>
